
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  #mainDiv {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center; 
  }
  

  #btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; 
  }
  

  #btn:hover {
    background-color: #0056b3;
  }
  

  #mainDiv h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; 
  }
  
  code {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 5px;
    display: block;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    white-space: pre-wrap;
  }
  